.manage-container {
    padding: 10px;

    .title {
        font-weight: 600;
        font-size: 20px;
    }

    .manage-content {
        .btn-add-new {
            margin: 15px 0px;

        }
    }
}